<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ConnectZ</title>
</head>
<body>
    <div>
        <div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
      <form th:action="@{/adduser}" th:object="${user}" method="post">
          <p>
              Username: <input type="text" th:field="*{username}"/>
          </p>
          <p>
              <input type="submit" value="submit" />
          </p>
      </form>
    </div>
</body>
</html>