<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ConnectZ</title>
</head>
<body>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <h2>
            <a th:text = ${user.username} th:href = "'https://anilist.co/user/'+${user.userId}" target="_blank" >
        </h2>
    </div>
    <div>
        <table>
            <tr>
                <td>Name</td>
                <td>Rating</td>
                <td>status</td>
            </tr>
            <tr th:each = "tempRow: ${user.entries}">
                <td>
                    <a th:text = ${tempRow.media.title} th:href = "'https://anilist.co/anime/'+${tempRow.media.mediaId}" target="_blank" >
                </td>
                <td th:text = ${tempRow.score}>
                <td th:text = ${tempRow.status}>
            </tr>
        </table>
    </div>
</body>
</html>