<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConnectZ</title>
</head>
<body>
  <div>
      <div>
          <a th:href="@{/}">Homepage</a>
      </div><hr>
      <div>
          <form th:action="@{/logout}" method="post">
              <input type="submit" value="Sign Out"/>
          </form>
      </div><hr>
      <div>
          <a th:href="@{/currentuser}" th:text="${user}"></a>
      </div><hr>
      <div>
          <a th:href="@{/admin/adduser}"> adduser</a>
      </div>
      <div>
          <a th:href="@{admin/users}">all users</a>
      </div>

  </div>
</body>
</html>