<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ConnectZ</title>
</head>
<body>
    <div>
        <div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>id</th>
                    <th>active</th>
                </tr>
                <tr th:each ="tempRow : ${users}">
                    <td th:text = "${tempRow.username}"></td>
                    <td th:text = "${tempRow.userId}"></td>
                    <td th:text = "${tempRow.active}"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>